*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}
body{
    width: 1000px;
    margin:10px auto;
}

nav > ul {
    display: flex;
    justify-content: space-around;
}

footer{
    text-align: center;
    margin-top: 30px;
}

/* form style */
form{
    width: 900px;
    margin: 10px auto;
}

label{
    display: block;
    margin: 20px;
}

/* table */
main{
    width: 900px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
table{
   border-collapse: collapse;
   margin: 10px;
}
td,th{
    border: 1px solid black;
    padding: 5px 10px;
}

/* navbar */
header{
    background-color: cadetblue;
    height: 50px;
    padding-top: 10px;

}




nav > ul > li > a{
    color: #690ac1;
    font-size: 20px;
    font-weight: bolder;
}

nav > ul > li:hover{
    background-color: aliceblue;
}



/* Dropdown Menu */

nav li .dropdown{
    display: none;
    width: 100px;


}

nav li .dropdown a{
    color: white;
}


nav li:hover > .dropdown{
    display: block;
    position: absolute;
     background-color: #f278b5;
     padding: 10px;
}



nav li .dropdown li:hover{
    border-bottom: 1px solid white;
}
nav li .dropdown li a:hover{
       color: black;
       margin: 5px;
}
