*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}
body{
    width: 1000px;
    margin:10px auto;
}

nav > ul {
    display: flex;
    justify-content: space-around;
}

footer{
    text-align: center;
    margin-top: 30px;
}

/* form style */
form{
    width: 900px;
    margin: 10px auto;
}

label{
    display: block;
    margin: 20px;
}

/* table */
main{
    width: 900px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
table{
   border-collapse: collapse;
   margin: 10px;
}
td,th{
    border: 1px solid black;
    padding: 5px 10px;
}

/* navbar */
header{
    background-color: cadetblue;
    padding: 40px;
}
nav > ul{


}

nav ul li a{
    color: #690ac1;
    font-size: 20px;
    font-weight: bolder;
}

nav ul li:hover{
    background-color: aliceblue;
}

nav ul li a:hover{
    font-size: 25px;
}