*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

nav > ul {
    display: flex;
    justify-content: space-around;
}

footer{
    text-align: center;
    margin-top: 30px;
}

/* form style */
form{
    width: 1000px;
    margin: 10px auto;
}

label{
    display: block;
    margin: 20px;
}
